<html>
<h3> Please login or create login </h3>
<form action="/login" method="post">
    Username: <input name="username" type="text"><br><br>
    Password: <input name="password" type="password"><br><br>
    <button type="submit">submit</button>
</form>
</html>
